<div>
	<div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">상품 관리</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<i class="fa fa-list fa-lg"></i> 상품 목록
					<div class="pull-right">
                        <button type="button" class="btn btn-default btn-xs" ng-click="clearAdmin()">관리자추가</button>
                    </div>
				</div>
				<table class="table table-striped">
					<thead>
			    		<tr>
			    			<td>공급업체</td>
			    			<td>상품명</td>
			    			<td>브랜드명</td>
			    			<td>판매가격</td>
			    			<td>수수료</td>
			    			<td>업데이트</td>
			    			<td>판매처</td>
			    		</tr>
			    	</thead>
			    	<tbody>
					    <tr ng-repeat="goods in goodslist" ng-click="viewDetail(goods)">
						    <td>{{ providers[goods.provider-1].name}}</td>
						    <td>{{ goods.goods_name}}</td>
						    <td>{{ goods.brand_name}}</td>
						    <td>{{ goods.sell_price}}</td>
						    <td></td>
						    <td>{{ goods.updated}}</td>
						    <td>보기</td>
					    </tr>
					    <tr>
					    	<td colspan="7" style="text-align:center">
					    		<pagination boundary-links="true" total-items="totalAdminListCount" ng-model="currentPageAdmin" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="adminListPageChanged()"></pagination>
					    	</td>
					    </tr>
				    </tbody>
			    </table>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<i class="fa fa-edit fa-lg"></i> 상품상세보기
				</div>
				<div class="panel-body">
					<div class="col-sm-12 offset-btm-10"">
				    	<label for="titleText" class="col-sm-4 graybox text-right">상품명</label>
				      	<label for="titleText" class="col-sm-8 graybox text-left">{{goods_name}}</label>
				  	</div>
				  	<div class="col-sm-12 offset-btm-10"">
				    	<label for="titleText" class="col-sm-4 graybox text-right">상품코드</label>
				      	<label for="titleText" class="col-sm-8 graybox text-left">{{goods_code}}</label>
				  	</div>
				  	<div class="col-sm-12 offset-btm-10"">
				    	<label for="titleText" class="col-sm-4 graybox text-right">상품정보</label>
				      	<label for="titleText" class="col-sm-8 graybox text-left">{{goods_info}}</label>
				  	</div>
				  	<div class="col-sm-12 offset-btm-10"">
				    	<label for="titleText" class="col-sm-4 graybox text-right">비고</label>
				      	<label for="titleText" class="col-sm-8 graybox text-left">{{use_note}}</label>
				  	</div>
				  	<div class="col-sm-12 offset-btm-10"">
				    	<label for="titleText" class="col-sm-4 graybox text-right">사용기간</label>
				      	<label for="titleText" class="col-sm-8 graybox text-left">{{use_term}}</label>
				  	</div>
				</div>	
			</div>
		</div>
	</div>
</div>